In [1]:
a=12
b=4
c=9

In [2]:
(a>=b) and (b<c) and (a<=16)

True

In [3]:
(a>12) or (b<=14)

True

In [4]:
a=2
b=1
z=(a>1) and (a>7) # z= True and False -> False
print(z)
print(not(z))

False
True

## If  Statements

In [5]:
a=8
if a>6:
      print(a, "is greater than 6")
print("Independent  statement")

8 is greater than 6
Independent  statement

In [6]:
age=21
if age>18:
    print("the person is above the age limit.")# executed if the expression is true
    print("The person age meets the condition.") # Multiple code lines maybe part of the if block

the person is above the age limit.
The person age meets the condition.

## If else Statements

In [7]:
a=12
if a>15:
    print(a,"is greater")
else :
    print(a,"is less")

12 is less

## Input Function

In [ ]:
a=input("Enter Any Number")
b=input("Enter Any Number")
add=a+b
add
# it gives 1213 because if u dont define the datatype it automatically consider that it is a string

## elif Function

In [ ]:
# elif can be used to check alternative conditions
country=input("Name of the country: ")
if country==country.upper():
     print("The Font entered is all in Capital Case")
elif country==country.lower():
     print("The Font entered is all in Lower Case ")
elif country==country.capitalize():
     print("The Font Recieved in Aprropriate Way ")
else:
    print("Mixed case Recieved")
#print("One of the 4 blocks of code was executed.")

In [ ]:
a=(int(input("Enter the Number : ")))

if(a%2==0):
    print("A is Even")
else:
    print("A is Odd")

In [ ]:
x=int(input("Enter a Number"))
if(x>10):
    print("I am in a if block")
elif(x==6):
    print("I am in a elif block")
elif(x==0):
    print("I am in Zero Number is Elif Block")
else:
    print("I am in else block")

In [ ]:
a=int(input("Enter a Number: "))

if(a>=0):
    print("The Number is Positive")
else:
    print("The Number is Negative")

## Nested If statement

In [ ]:
# Marks

marks=int(input("Enter A Marks :"))

if marks>45:
    print("Student Is Pass ")
    if (marks>75):
        print("Student Pass With Distinction")
    else:
        print("Student Pass With Not Distinction")
else:
    print("Student Is Fail")

In [ ]:
# WE Consider bp range 120-129 accepted as a normal
bp_systolic=int(input("Enter the Current bp measurement :"))

a=120<=bp_systolic<=129

if a== False: # Out of Normal
    print("The Blood pressure of the patient is out of normal range")
    if (bp_systolic<90):
        print("A case of low blood pressure")
        print ("Advised to stay hydrated with regular intake of fluids")
    elif(bp_systolic>=130):
        print("A case of high blood pressure")
        print("30 minutes of daily walk recommended.")
    else:
        print("Not Necessarily low bp but fluid intake to be increased")

else:
    print("Blood pressure is in the normal range")

## Datetime Module

In [1]:
import datetime

In [2]:
from datetime import date

In [3]:
age=date(2025,10,6)
print(age)

2025-10-06

In [4]:
# .isoweekday function is used to show that which day is on that day means if on that day have monday it gives 1 in return ,tuesday 2 like that...
age.isoweekday()

1

In [5]:
age.year

2025

In [6]:
age.month

10

In [7]:
age.day

6

In [8]:
today1=date.today()

In [9]:
print("Today's date is ",today1)

Today's date is  2025-10-07

In [10]:
today1.isoweekday()

2

In [11]:
today1

datetime.date(2025, 10, 7)

In [13]:
today1.year

2025

In [14]:
today1.month

10

In [15]:
today1.day

7

In [17]:
from datetime import datetime as dt

In [18]:
Currrent_date_and_time=dt.now()

In [20]:
print(Currrent_date_and_time)

2025-10-07 09:57:25.347087

In [22]:
Currrent_date_and_time.month

10

In [23]:
Currrent_date_and_time.day

7

In [24]:
Currrent_date_and_time.hour

9

In [26]:
Currrent_date_and_time.minute

57

## Timedelta Function

In [35]:
from datetime import date,timedelta

In [36]:
current_date=date.today()
print(current_date)
# calculating future dates for 730 days
future_date_after_2_yrs=current_date + timedelta(days=730)
print(future_date_after_2_yrs)
future_date_after_2_yrs

2025-10-07
2027-10-07

datetime.date(2027, 10, 7)

# Data Structures in Python

## List Datatype

In [107]:
name=["Keshav","sakshi","aadesh"]
name

['Keshav', 'sakshi', 'aadesh']

In [108]:
age=[12.3,15,68,74]
age

[12.3, 15, 68, 74]

In [109]:
emp_data=['Vijay','taloogevijay@gmail.com',20000,True,24.5]
emp_data

['Vijay', 'taloogevijay@gmail.com', 20000, True, 24.5]

In [110]:
type(emp_data)

list

In [111]:
name

['Keshav', 'sakshi', 'aadesh']

### Indexing and Slicing in List

In [112]:
name[1]

'sakshi'

In [113]:
name[1:3]

['sakshi', 'aadesh']

In [114]:
emp_data

['Vijay', 'taloogevijay@gmail.com', 20000, True, 24.5]

In [115]:
emp_data[:12:2]

['Vijay', 20000, 24.5]

In [116]:
emp_data[::-1]

[24.5, True, 20000, 'taloogevijay@gmail.com', 'Vijay']

In [117]:
emp_data[:-1]

['Vijay', 'taloogevijay@gmail.com', 20000, True]

In [118]:
st1=[101,'Vijay',99]
st2=[102,'raju',25]
st3=[103,'raj',97]
st4=[104,'anand',96]

In [119]:
all_lst=[st1,st2,st3,st4]
all_lst

[[101, 'Vijay', 99], [102, 'raju', 25], [103, 'raj', 97], [104, 'anand', 96]]

In [120]:
all_lst[0][1]

'Vijay'

In [121]:
all_lst[3][2]

96

In [122]:
all_lst[2][2]

97

## Insert and Append Function

In [123]:
name

['Keshav', 'sakshi', 'aadesh']

In [124]:
name.append("Akhilesh")
name

['Keshav', 'sakshi', 'aadesh', 'Akhilesh']

In [125]:
name.insert(2,'Neha')

In [126]:
name

['Keshav', 'sakshi', 'Neha', 'aadesh', 'Akhilesh']

In [127]:
a=[1,2,3,4,5]
name.append(a)
name

['Keshav', 'sakshi', 'Neha', 'aadesh', 'Akhilesh', [1, 2, 3, 4, 5]]

In [128]:
b="Thala for a reason"
name.insert(1,b)

In [129]:
name

['Keshav',
 'Thala for a reason',
 'sakshi',
 'Neha',
 'aadesh',
 'Akhilesh',
 [1, 2, 3, 4, 5]]

In [130]:
a1=['Mon','Tue','Thur']
a2=['Wed','Fri',"Sat"]
a1.extend(a2)
a1

['Mon', 'Tue', 'Thur', 'Wed', 'Fri', 'Sat']

In [131]:
a3=[1,2,3,4]
a4=[5,6,7,8]
a3+a4

[1, 2, 3, 4, 5, 6, 7, 8]

In [132]:
name

['Keshav',
 'Thala for a reason',
 'sakshi',
 'Neha',
 'aadesh',
 'Akhilesh',
 [1, 2, 3, 4, 5]]

## Pop and Remove Function

In [133]:
name.pop(3)

'Neha'

In [134]:
a1

['Mon', 'Tue', 'Thur', 'Wed', 'Fri', 'Sat']

In [135]:
name.remove("Akhilesh")

In [136]:
name

['Keshav', 'Thala for a reason', 'sakshi', 'aadesh', [1, 2, 3, 4, 5]]

In [137]:
name.pop(-1)

[1, 2, 3, 4, 5]

In [138]:
name.pop(-3)

'Thala for a reason'

In [139]:
name

['Keshav', 'sakshi', 'aadesh']

## Clear And Delete Function

In [140]:
# Clear is used to clear elements in the variable 
# and delete is used to delete the elements as well as variable also
name.clear()

In [141]:
name

[]

In [142]:
del name

In [143]:
name

NameError: name 'name' is not defined

### in Function

In [153]:
names=['Keshav','Sakshi','Aadesh','Bhavdya']
'Bhavdya' in names

True

In [154]:
marks=[85,95,84,76,44,35]

In [155]:
names

['Keshav', 'Sakshi', 'Aadesh', 'Bhavdya']

In [156]:
names.reverse()

In [157]:
names

['Bhavdya', 'Aadesh', 'Sakshi', 'Keshav']

In [158]:
#2nd method
names[::-1]

['Keshav', 'Sakshi', 'Aadesh', 'Bhavdya']

### sort Function

In [165]:
a1=[23,45,14,52,62,12,10,8,65]

In [166]:
a1

[23, 45, 14, 52, 62, 12, 10, 8, 65]

In [167]:
a1.sort()

In [168]:
a1

[8, 10, 12, 14, 23, 45, 52, 62, 65]

In [169]:
a1.sort(reverse=True)

In [170]:
a1

[65, 62, 52, 45, 23, 14, 12, 10, 8]

# Tuple Datatype

In [172]:
tup1=('Nikhil',95,True,2.5)
tup1

('Nikhil', 95, True, 2.5)

In [173]:
type(tup1)

tuple

In [174]:
tup2=()

In [175]:
tup2

()

In [177]:
measures=(20.5,2000.6,45000.6,785444.6)
measures

(20.5, 2000.6, 45000.6, 785444.6)

In [182]:
mixed=('keshav',True,43,989,856.5,(205,520.5,65),(956,85,'aadesh'))

### Indexing and Slicing in Tuple

In [184]:
mixed[5]

(205, 520.5, 65)

In [185]:
mixed[5][2]

65

In [186]:
mixed[1:5:2]

(True, 989)

In [187]:
del mixed

In [188]:
mixed

NameError: name 'mixed' is not defined

## Count and Index

In [8]:
c1=(12,54,5,4,6,4,5,6,4,8,9,7,4,5,78)

In [9]:
c1.count(5)

3

In [10]:
c1.index(4)

3

In [11]:
# in only index 
c1.index(4,7)

8

### Sorting Index

In [12]:
c1

(12, 54, 5, 4, 6, 4, 5, 6, 4, 8, 9, 7, 4, 5, 78)

In [17]:
sorted(c1)

[4, 4, 4, 4, 5, 5, 5, 6, 6, 7, 8, 9, 12, 54, 78]

In [18]:
s=("Nikhil","Ajit","Somesh","Andrew","Likhit","Abhang")

In [19]:
sorted(s)

['Abhang', 'Ajit', 'Andrew', 'Likhit', 'Nikhil', 'Somesh']

In [21]:
# Reverse kr rhe hai 
sorted(s,reverse=True)

['Somesh', 'Nikhil', 'Likhit', 'Andrew', 'Ajit', 'Abhang']

# Sets

In [22]:
s1={1,2,3,4,5,65,48,2,1,65,48,42,62,35}
s1

{1, 2, 3, 4, 5, 35, 42, 48, 62, 65}

In [23]:
s2={'Vijay','Akhilesh','Damodar',15,56,47,21,41,51,15,36,9,7,9,'Aadesh','Imtiyaz'}
s2

{15,
 21,
 36,
 41,
 47,
 51,
 56,
 7,
 9,
 'Aadesh',
 'Akhilesh',
 'Damodar',
 'Imtiyaz',
 'Vijay'}

In [24]:
s4=set(['nikhil','manohar','intaz','cipla',65,45,15,65,52])
s4

{15, 45, 52, 65, 'cipla', 'intaz', 'manohar', 'nikhil'}

In [27]:
news={'Business','Politics'}
news

{'Business', 'Politics'}

In [28]:
news.add("Sports")

In [29]:
news

{'Business', 'Politics', 'Sports'}

In [34]:
sections=["Entertainment","Lifestyle","Advertising"]
sections

['Entertainment', 'Lifestyle', 'Advertising']

In [35]:
news.update(sections)

In [36]:
news

{'Advertising', 'Business', 'Entertainment', 'Lifestyle', 'Politics', 'Sports'}

In [38]:
a={12,'Anand','Vijay',('Vijay','Anand'),45}
a

{('Vijay', 'Anand'), 12, 45, 'Anand', 'Vijay'}

In [39]:
a.add("Raju")

In [40]:
a

{('Vijay', 'Anand'), 12, 45, 'Anand', 'Raju', 'Vijay'}

In [41]:
a.remove(45)

In [42]:
a

{('Vijay', 'Anand'), 12, 'Anand', 'Raju', 'Vijay'}

In [43]:
a.discard(("Vijay","Anand"))

In [44]:
a

{12, 'Anand', 'Raju', 'Vijay'}

## Set Operations

In [48]:
a={1,2,3,4,5}
b={4,5,6,7,8}
c={8,9,10}

In [49]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [50]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [55]:
a.intersection(b,c)

set()

In [56]:
a.difference(b,c)

{1, 2, 3}

In [62]:
b.difference(a,c)

{6, 7}

In [63]:
a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8}

In [65]:
z1=[1,2,3,4,7,8,2,1,3,4,8,9]
s1=set(z1)
s1

{1, 2, 3, 4, 7, 8, 9}

# Dictionary

In [68]:
d1={"Name":"Keshav",
     "Age":24,
     "Location":"Pune",
     "Salary":80000}

In [69]:
d1

{'Name': 'Keshav', 'Age': 24, 'Location': 'Pune', 'Salary': 80000}

In [70]:
d1.keys()

dict_keys(['Name', 'Age', 'Location', 'Salary'])

In [71]:
d1.values()

dict_values(['Keshav', 24, 'Pune', 80000])

In [72]:
d1.items()

dict_items([('Name', 'Keshav'), ('Age', 24), ('Location', 'Pune'), ('Salary', 80000)])

In [77]:
d1.update({"Salary":95000})

In [78]:
d1

{'Name': 'Keshav', 'Age': 24, 'Location': 'Pune', 'Salary': 95000}

In [79]:
d1["Id"]=85
d1

{'Name': 'Keshav', 'Age': 24, 'Location': 'Pune', 'Salary': 95000, 'Id': 85}

In [80]:
d1.pop("Id")

85

In [81]:
d1

{'Name': 'Keshav', 'Age': 24, 'Location': 'Pune', 'Salary': 95000}

In [82]:
del d1["Location"]

In [83]:
d1

{'Name': 'Keshav', 'Age': 24, 'Salary': 95000}

In [87]:
emp_data={"name":['niks','jiks','giks','sheks'],
         'Age':[84,65,74,65],
         "Location":['Pune',"Hydrabad",'Banglore','Bankok']}
emp_data

{'name': ['niks', 'jiks', 'giks', 'sheks'],
 'Age': [84, 65, 74, 65],
 'Location': ['Pune', 'Hydrabad', 'Banglore', 'Bankok']}

In [88]:
emp_data

{'name': ['niks', 'jiks', 'giks', 'sheks'],
 'Age': [84, 65, 74, 65],
 'Location': ['Pune', 'Hydrabad', 'Banglore', 'Bankok']}

In [89]:
import pandas as pd

In [91]:
pd.DataFrame(emp_data)

    name  Age  Location
0   niks   84      Pune
1   jiks   65  Hydrabad
2   giks   74  Banglore
3  sheks   65    Bankok

# Loops

In [92]:
# While Loop = we Dont know the end where 
# For Loop = We Know the end

In [93]:
i=0
while i<5:
    print('Hello Bhaisaab',i)
    i=i+1

Hello Bhaisaab 0
Hello Bhaisaab 1
Hello Bhaisaab 2
Hello Bhaisaab 3
Hello Bhaisaab 4

In [94]:
i=0
while i<=10:
    if (i%2==0):
        print(i,"even num")
    i=i+1

0 even num
2 even num
4 even num
6 even num
8 even num
10 even num

In [95]:
i=0
while i<=10:
    if (i%2!=0):
        print(i,"odd Number")
    i=i+1

1 odd Number
3 odd Number
5 odd Number
7 odd Number
9 odd Number

In [5]:

even=[]
odd=[]

i=0
while i<21:
    if (i%2==0):
       even.append(i)
    else :
       odd.append(i)
    i=i+1
    

print('even_numbers',even)
print('Odd_numbers',odd)

even_numbers [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Odd_numbers [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [6]:
nums=[25,40,25,80,75,25,88,25,24,25,77,25,56,25,10,25]
nums.count(25)

8

In [9]:
while 25 in nums : 
    nums.remove(25)
    c=nums.count(25)
    if c==5:
        break

print(nums)
print("Count of 25s in the list is ",c)

[40, 80, 75, 88, 24, 77, 56, 10]
Count of 25s in the list is  0

In [10]:
while 25 in nums : 
    nums.remove(25)
    c=nums.count(25)
    if c==10:
        break

print(nums)
print("Count of 25s in the list is ",c)

[40, 80, 75, 88, 24, 77, 56, 10]
Count of 25s in the list is  0

In [2]:
i=0
while i<20:
    i=i+1
    if 10<i<15:
        continue
    else:
        print(i)

1
2
3
4
5
6
7
8
9
10
15
16
17
18
19
20

In [8]:
i=0

while i<8:
    i=i+1

    sq=i**2
    if 10<sq<30:
        print("Skipped")
        continue
    print(f"Square of {i} is : {sq}")

Square of 1 is : 1
Square of 2 is : 4
Square of 3 is : 9
Skipped
Skipped
Square of 6 is : 36
Square of 7 is : 49
Square of 8 is : 64

In [16]:
l1=list(range(1,21))

even=[]
odd=[]
i=1

while i<len(l1):
    c=l1[i]**3

    if c%2==0:
        even.append(c)
    else :
       odd.append(c)
    i=i+1
    print(f"Cube of {i} is :",c)
   
    

print('even_numbers',even)
print('Odd_numbers',odd)

Cube of 2 is : 8
Cube of 3 is : 27
Cube of 4 is : 64
Cube of 5 is : 125
Cube of 6 is : 216
Cube of 7 is : 343
Cube of 8 is : 512
Cube of 9 is : 729
Cube of 10 is : 1000
Cube of 11 is : 1331
Cube of 12 is : 1728
Cube of 13 is : 2197
Cube of 14 is : 2744
Cube of 15 is : 3375
Cube of 16 is : 4096
Cube of 17 is : 4913
Cube of 18 is : 5832
Cube of 19 is : 6859
Cube of 20 is : 8000
even_numbers [8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000]
Odd_numbers [27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859]

In [4]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [5]:
l2=list(range(1,20))
l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [13]:
l2=list(range(1,20+1))
e1=[]
o1=[]

i=1
while i<len(l2):
    c=l2[i]**3
    if  c%2==0:
        e1.append(c)
    else:
        o1.append(c)
    i=i+1    

print(l2)
print(e1)
print(o1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000]
[27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859]

In [ ]:
name=['bob','mom','madam','pen','tom']
palindrome=[]
non_palindrome=[]

i=0
while i<len(name):
    if name[i]==name[i][::-1]:
        palindrome.append(name[i])
    else :
        non_palindrome.append(name[i])
 

print("Palindrome : ",palindrome)
print("non_palindrome : ",non_palindrome)

In [ ]:
num=int(input("Enter the number for factorial : "))
b=1
i=1
while i in range(1,num+1):
    b=b*i
    i=i+1
print(f"Factorial of {num} is : {b}")

In [5]:
num=int(input("Enter a Number : "))

if num<=1:
    print("Neither prime nor Composite")
else:
    i=2
    count=0
    while i<=num/2:
        if num % i ==0:
            count += 1
        i += 1

    if count==0:
        print("Prime")
    else : 
        print("Composite")

Enter a Number :  6

Composite

# For Loop

In [6]:
a=[1,2,3,4,5,6,7,8,9,10,15,8,585,45,6,5,4,585,78,65,8]

for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10
15
8
585
45
6
5
4
585
78
65
8

In [11]:
items=[1,2,3,4,5]

for i in items:
    print(i*3," is mult of   ",i)

3  is mult of    1
6  is mult of    2
9  is mult of    3
12  is mult of    4
15  is mult of    5

In [16]:
price=[790,650,892,999]

for i in price:
    print(i/88,f"Dollar is the price in dollar of {i} Ruppes  ")

8.977272727272727 Dollar is the price in dollar of 790 Ruppes
7.386363636363637 Dollar is the price in dollar of 650 Ruppes
10.136363636363637 Dollar is the price in dollar of 892 Ruppes
11.352272727272727 Dollar is the price in dollar of 999 Ruppes

In [17]:
s='#bhai ko apunka kuch bhi nhi chahiye kyoki bhai hi bhagawan hai samjha kya be 78 95 874 62.5 48'

for i in s.split():
    print(i)

#bhai
ko
apunka
kuch
bhi
nhi
chahiye
kyoki
bhai
hi
bhagawan
hai
samjha
kya
be
78
95
874
62.5
48

In [19]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [20]:
for i in range(-21,20):
    print(i)

-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [25]:
even=[]
odd=[]
for i in range(0,50):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

print("Even Numbers : ",even)

print("Odd Numbers : ",odd)

Even Numbers :  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
Odd Numbers :  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [37]:
positive =[]
negative=[]
zero=[]
for i in range(-21,21):
    if i==0:
         zero.append(i)
    elif i<1:
         positive.append(i)
        
    else:
        negative.append(i)

print("Positive Numbers : ",positive)
print("Negative Numbers : ",negative)
print(zero)

Positive Numbers :  [-21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1]
Negative Numbers :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0]

In [38]:
even=[]
odd=[]
for i in range(1,21,2):
    odd.append(i)

for i in range(2,21,2):
    even.append(i)

print("Even Numbers : ",even)
print("Odd Numbers  : ",odd)

Even Numbers :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Odd Numbers  :  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## Nested Loop

In [39]:
a=['Red',"Blue","Green"]
b=['Apple','Banana','Orange']

for i in a:
    for h in b:
        print(i,h)

Red Apple
Red Banana
Red Orange
Blue Apple
Blue Banana
Blue Orange
Green Apple
Green Banana
Green Orange

In [41]:
emp=[['vijay',23,30000],['Anand',25,35000],['Nikhil',36,50000]]
for i,j,k in emp:
    print(i,j,k)

vijay 23 30000
Anand 25 35000
Nikhil 36 50000

In [47]:
course=['Maths','Data Science','Economics','Social Sciences']
size=[78,90,56,90]
batch=('A',"B",'C','D')

for i in course :
    for k in size:
        b_loc=size.index(k)
        b=batch[b_loc]
        print(f"Batch {b} of size {k} shall attend {i}")

Batch A of size 78 shall attend Maths
Batch B of size 90 shall attend Maths
Batch C of size 56 shall attend Maths
Batch B of size 90 shall attend Maths
Batch A of size 78 shall attend Data Science
Batch B of size 90 shall attend Data Science
Batch C of size 56 shall attend Data Science
Batch B of size 90 shall attend Data Science
Batch A of size 78 shall attend Economics
Batch B of size 90 shall attend Economics
Batch C of size 56 shall attend Economics
Batch B of size 90 shall attend Economics
Batch A of size 78 shall attend Social Sciences
Batch B of size 90 shall attend Social Sciences
Batch C of size 56 shall attend Social Sciences
Batch B of size 90 shall attend Social Sciences

In [6]:
l1=list(range(5555,5565))
e1=[]
o1=[] 
for i in l1 :
    c_r=i**1//3
    if c_r%2==0:
        e1.append(c_r)
    else:
        o1.append(c_r)

print(e1)
print(o1)

[1852, 1852, 1852, 1854, 1854, 1854]
[1851, 1853, 1853, 1853]

In [7]:
l1

[5555, 5556, 5557, 5558, 5559, 5560, 5561, 5562, 5563, 5564]

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

for i in l1:
    multi=i*45

    if multi %2==0:

In [67]:
l1=[234,23,123,3456,79799,989899]

for i in l1:
    string=len(str(i))
    print(i,"------->",string)

234 -------> 3
23 -------> 2
123 -------> 3
3456 -------> 4
79799 -------> 5
989899 -------> 6

In [68]:
# Second Way

for i in l1:
    print(i,"------->",len(str(l1)))

234 -------> 35
23 -------> 35
123 -------> 35
3456 -------> 35
79799 -------> 35
989899 -------> 35

In [73]:
l1=[10,20,30,40,50]

t=0
for i in l1:
    t=t+i
print(t)

150

In [38]:
a=['vijay',45,'raju',55]
t=0
for i in a:
    if isinstance(i,int|float):
        t=t+i

print(t)

TypeError: unsupported operand type(s) for |: 'str' and 'type'

In [ ]:
name=['bob','dad','pen','tom','mom','madam']

for i in name:

In [81]:
name=['bob','mom','madam','pen','tom']
palindrome=[]
non_palindrome=[]


for i  in name:
    if i==i[::-1]:
        palindrome.append(i)
    else :
        non_palindrome.append(i)
 

print("Palindrome : ",palindrome)
print("non_palindrome : ",non_palindrome)

Palindrome :  ['bob', 'mom', 'madam']
non_palindrome :  ['pen', 'tom']

# Built in Fuctions

In [82]:
l1=[12,14,17,59,77,89]

In [83]:
sum(l1)

268

In [84]:
max(l1)

89

In [85]:
min(l1)

12

In [87]:
len(l1)

6

In [89]:
avg=sum(l1)/len(l1)
print(avg)

44.666666666666664

In [101]:
import numpy as np
np.mean(l1)

44.666666666666664

In [102]:
d1={'a':25,'b':26,'c':29,'d':45}
d1

{'a': 25, 'b': 26, 'c': 29, 'd': 45}

In [103]:
f=d1.values()

In [104]:
avg=sum(f)/len(f)
print(avg)

31.25

In [ ]:
a=[121,457,343,985]
 for i in a:
     if len(str(i))==i[::-1]

In [109]:
a=[121,457,343,985]
palindrome=[]
non_palindrome=[]


for i  in a:
    if str(i)==str(i)[::-1]:
        palindrome.append(i)
    else :
        non_palindrome.append(i)
 

print("Palindrome : ",palindrome)
print("non_palindrome : ",non_palindrome)

Palindrome :  [121, 343]
non_palindrome :  [457, 985]

## User Defined Functions

In [17]:
def print_name(name):
    print("Your name is : ",name)

user_name=input("Enter Your name : ")
print_name(user_name)

Enter Your name :  keshav

Your name is :  keshav

In [20]:
def pname(name):
    print(name)

In [21]:
pname("Keshav")

Keshav

In [121]:
def mult(a,b):
    return a*b

mult(10,20)

200

In [122]:
mult(10,65)

650

In [35]:
def batchid(batchid):
    print(f"Your Batch id is {date}-{course_name}-{location}")

date=input("Enter Your Joining Date in 'DD-MM-YYYY' Format : ")
course_name=input("Enter Your Course Name : ")

      if course_name==AI Engineer:
                      cour_name = AEC
      elif course_name== Data Science:
                      cour_name = CDC
      elif course_name== Data Analytics:
                      cour_name = CDA
      





location = input("Enter Your Course Location : ")

batchid(batchid)

Enter Your Joining Date in 'DD-MM-YYYY' Format :  22-5-2025
Enter Your Course Name :  AI Engineer
Enter Your Course Location :  Pune

Your Batch id is 22-5-2025-AI Engineer-Pune

In [23]:
def area_of_circle(r):
    area=3.14*r**2
    print(area)

In [24]:
area_of_circle(7)

153.86

In [26]:
def parameter_of_square(side):
    ps=4*side
    print(ps)

In [27]:
parameter_of_square(5)

20

In [49]:
def cube(value):
    cr=value**(1/3)
    print(cr)

In [48]:
cube(8)

1

In [39]:
def rectangle(l,b):
    area=l*b
    print(area)

In [40]:
rectangle(4,5)

20

In [66]:
def user(name,userid,country):
    print (" Name is             :",name)
    print (f" Userid of {name} is :",userid)
    print(f" Country of {name} is:",country)

In [67]:
user('Keshav',99,'India')

 Name is             : Keshav
 Userid of Keshav is : 99
 Country of Keshav is: India

In [91]:
def evenorodd():
    a=int(input("Enter Your Number : "))
    if a%2==0:
        print("The Number  is Even")
    else:
        print("The Number is Odd")

In [92]:
evenorodd()

Enter Your Number :  5

TypeError: 'str' object is not callable

In [71]:
def squareofnum(a):
    return a**2

In [72]:
squareofnum(12)

144

In [73]:
squareofnum(85)

7225

In [74]:
def add(a,b):
    return ("The Addition of a+b is : ",a+b)

In [75]:
add(10,5)

('The Addition of a+b is : ', 15)

In [82]:
def rate(principal,time,roi):
    print("Principal Amount is :",principal)
    print("Time is             :",time)
    print("Rate of Interest is :",roi)
    interest=principal*time*roi/100
    a=principal+interest
    print("The Interest is     :",interest)
    print("The Total Amount is :",a)

In [83]:
rate(10000,12,10)

Principal Amount is : 10000
Time is             : 12
Rate of Interest is : 10
The Interest is     : 12000.0
The Total Amount is : 22000.0

In [84]:
def fib_series(n):
    a,b=0,1
    for i in range(n+1):
        yield a
        a,b=b,a+b

In [87]:
list(fib_series(55))

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074,
 32951280099,
 53316291173,
 86267571272,
 139583862445]

# Lambda Function

In [93]:
addition = lambda a : a+10

In [94]:
addition(9)

19

In [96]:
square = lambda x :x**2

In [98]:
square(5)

25

In [99]:
add = lambda a,b : a+b

In [100]:
add(5,6)

11

In [101]:
multi = lambda a,b : a*b

In [102]:
multi(20,6)

120

## Filter function in lambda

In [107]:
seq=[0,1,2,3,5,4,6,78,15,65,15,74,95]

result=filter(lambda x : x%2!=0,seq)
print(list(result))

result=filter(lambda x : x%2==0,seq)
print(list(result))

[1, 3, 5, 15, 65, 15, 95]
[0, 2, 4, 6, 78, 74]

In [109]:
l1=["bob",'mom','tom','abhi','raj','madam']

result=filter(lambda x:x==x[::-1],l1)
print(list(result))

['bob', 'mom', 'madam']

In [113]:
l1=list(range(1,11))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Map Function

In [114]:
list(map(lambda x : x**3,l1))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [116]:
numbers1=[1,2,3]
numbers2=[4,5,6]

result=map(lambda x,y : x+y,numbers1,numbers2)
print(list(result))

[5, 7, 9]

In [119]:
l=['sat','mat','cat','bat']

test= list(map(list,l))
print(test)

[['s', 'a', 't'], ['m', 'a', 't'], ['c', 'a', 't'], ['b', 'a', 't']]

# Reduce Function

In [122]:
# functools is use to reduce
import functools

lis=[1,3,5,6,2]

# Using reduce function we can do sum of list
print(functools.reduce(lambda a,b : a+b,lis))

17

In [123]:
import functools
l1=[1,2,3,4]
print(functools.reduce(lambda a,b:a*b,l1))

24

In [126]:
lis=[1,3,5,6,2]

print(functools.reduce(lambda a,b: a if a>b else b,lis))

6

In [3]:
n1=int(input())
n2=int(input())

if (n1>40)and (n2<40):
    c=n1+n2
    print(f"Addition of number {n1} and {n2} is {c}")
else :
    d=n1-n2
    print(f"Substraction of number {n1} and {n2} is {d}")

 85
 30

Addition of number 85 and 30 is 115

In [5]:
num11=int(input("Enter Number : "))
if (num11%2==0) and (num11%3==0):
    print(f"{num11} is divisible by 2 and 3")
elif num11%2==0:
    print(f"{num11} is divisible by 2")
elif num11%3==0:
    print(f"{num11} is divisible by 3")
else :
    
    print(f"{num11} is neither divisble by 2 and 3")

Enter Number :  12

12 is divisible by 2 and 3

In [7]:
v=list(map(int,(input("Enter any Number : ") .split())))

even = []
odd = []

for i in v:
    if i%2==0:
        even.append(i)
    else :
        odd.append(i)
print("Even_Numbers : ",even)
print("Odd Numbers : ",odd)

Enter any Number :  95 45 75 63 47 85 44 96 85 12 45 85

Even_Numbers :  [44, 96, 12]
Odd Numbers :  [95, 45, 75, 63, 47, 85, 85, 45, 85]

# Enumerate Function

In [8]:
l3=['Vijay','Raju','Nagesh','Durgesh','Parth','Abhishek','Aadesh']

In [9]:
list(enumerate(l3))

[(0, 'Vijay'),
 (1, 'Raju'),
 (2, 'Nagesh'),
 (3, 'Durgesh'),
 (4, 'Parth'),
 (5, 'Abhishek'),
 (6, 'Aadesh')]

In [10]:
list(enumerate(l3,1000))

[(1000, 'Vijay'),
 (1001, 'Raju'),
 (1002, 'Nagesh'),
 (1003, 'Durgesh'),
 (1004, 'Parth'),
 (1005, 'Abhishek'),
 (1006, 'Aadesh')]

# Zip Function

In [11]:
l1=[1,2,3,4,5]

In [12]:
l2=['Keshav','Akhilesh','Rajendra','Siddhu','Mocha']

list(zip(l1,l2))

In [15]:
tuple(zip(l1,l2))

((1, 'Keshav'), (2, 'Akhilesh'), (3, 'Rajendra'), (4, 'Siddhu'), (5, 'Mocha'))

In [16]:
for i in zip(l2,l1):
    print(i)

('Keshav', 1)
('Akhilesh', 2)
('Rajendra', 3)
('Siddhu', 4)
('Mocha', 5)

In [17]:
for i in z
ip(l1,l2):
    print(i)

(1, 'Keshav')
(2, 'Akhilesh')
(3, 'Rajendra')
(4, 'Siddhu')
(5, 'Mocha')

# List Comprehension

In [19]:
eve2=[i for i in range(1,20+1) if i%2==0]
eve2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
odd2=[i for i in range(1,21) if i%2!=0]
odd2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [21]:

sq_num=[i**2 for i in range(1,11)]
sq_num

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
cube_num=[i**3 for i in range(1,20)]
cube_num

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859]

In [23]:
# y=mx+c Formula of equation of line

In [24]:
x=[5,2,1,3]
c=2
m=10

In [26]:
y=[]
for i in range(len(x)):
    a1=(m*x[i]) + c
    y.append(a1)

print(y)

[52, 22, 12, 32]

In [31]:
# with list comprehension
y1=[(m*x[i]+c) for i in range(len(x))]
y1

[52, 22, 12, 32]

In [32]:
even_odd=[(i,'even' if i%2==0 else 'odd') for i in range(1,21)]
even_odd

[(1, 'odd'),
 (2, 'even'),
 (3, 'odd'),
 (4, 'even'),
 (5, 'odd'),
 (6, 'even'),
 (7, 'odd'),
 (8, 'even'),
 (9, 'odd'),
 (10, 'even'),
 (11, 'odd'),
 (12, 'even'),
 (13, 'odd'),
 (14, 'even'),
 (15, 'odd'),
 (16, 'even'),
 (17, 'odd'),
 (18, 'even'),
 (19, 'odd'),
 (20, 'even')]

In [33]:
def multiply(x:int,y:int|float):
    z=x*y
    print(z)

In [34]:
multiply(12,12)

144

In [36]:
multiply("A",3)
# here aapneko error aana chahiye tha lekin aya nhi isliye hume ensure annotation call krna padega

AAA

In [38]:
#pip install ensure

Collecting ensure
  Downloading ensure-1.0.4-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: six>=1.11.0 in d:\users\loq\anaconda3\lib\site-packages (from ensure) (1.16.0)
Downloading ensure-1.0.4-py3-none-any.whl (15 kB)
Installing collected packages: ensure
Successfully installed ensure-1.0.4
Note: you may need to restart the kernel to use updated packages.

In [39]:
from ensure import ensure_annotations

In [40]:
@ensure_annotations
def mult1(x:int,y:int|float):
    z=x*y
    print(z)

In [41]:
mult1(12,14)

168

In [43]:
mult1("A",3)
# here we get error

EnsureError: Argument x of type <class 'str'> to <function mult1 at 0x000002A407F4C900> does not match annotation type <class 'int'>

In [44]:
mult1(10,15)

150

In [46]:
def sq_num(n):
    for i in range(1,n+1):
        yield i**2

In [49]:
list(sq_num(10))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Aggregate function

In [ ]:
# aggregate (*args) function

In [52]:
def mult(*args):
    p=1
    for i in args:
        p=p*i
        return p

In [53]:
9mult(23,24,25,74,5,2)

23

In [2]:
def fun2(**kwargs):
    print(kwargs.items())

In [3]:
fun2(name='Nikhil',age=25,place='pune')

dict_items([('name', 'Nikhil'), ('age', 25), ('place', 'pune')])

In [4]:
def count(*args,**kwargs):
    return len(args),len(kwargs)

In [5]:
count(1,2,3,4,5,6,'Vijay',name='Vijay',last_name='Takmoge')

(7, 2)

In [9]:
def stu_marks(**kwargs):
    for name,marks in kwargs.items():
        if marks>=35:
            pf="Pass"
        else:
            pf='Fail'
        print(f"Hi {name} you have {pf}")

In [10]:
a=stu_marks(vijay=55,kishan=48,niks=25)
a

Hi vijay you have Pass
Hi kishan you have Pass
Hi niks you have Fail

In [11]:
stu_marks(niks=89,kishan=25,jack=47)

Hi niks you have Pass
Hi kishan you have Fail
Hi jack you have Pass